<!-- ==== ABOUT ==== -->     <div class="container" id="about" name="about">
      <div class="row white" id="about">
      <br>
        <h2 class="centered">A LITTLE ABOUT ME</h2>
        <hr>
        
        <div class="col-lg-9">
          <p>I am a web developer and IT consultant. My areas of interest among others include iOT, digital marketing and building the most user-friendly mobile and web apps. I am totally fascinated by startups!!!
          I pride myself on my ability to recognize and articulate a distinct voice for every project. I am driven by the in-depth problem solving that coding provides, new challenges, and the opportunity to continously learn from my people.
          </p>
        </div>
        <div class="col-lg-3">
          <p><a href="#"><i class="icon-file"></i></a> <sm>DOWNLOAD PDF</sm></p>
        </div>
      </div><!-- row -->
    </div><!-- container --> 