<!-- ==== HEADERWRAP ==== -->
      <div id="headerwrap" id="home" name="home">
      <header class="clearfix">
            <h1><span class="icon icon-shield"></span></h1>
            <p>Hi! I am Victor</p>
            <p>Web Developer, IT Consultant</p>
        </header>     
      </div><!-- /headerwrap -->