<!-- ==== HEADERWRAP ==== -->
      <div id="headerwrap" id="home" name="home">
      <header class="clearfix">
      <div class="row">
      	<div class="col-lg-5 col-md-5">
      	</div>
      	<div class="col-lg-7 col-md-7">
      	<br>
      	<br>
      	<br>
      	<br>
      	<br>
      	<br>
      	<br>
      		 <h2 class="whitefont cd-headline clip is-full-width">
			<span class="text-right">Hi! I'm Victor</span>
			<br>
			<span class="cd-words-wrapper">
				<b class="is-visible">Web Developer</b>
				<b>Tech Fanatic</b>
				<b>Global Citizen</b>
			</span>
		</h2>  
      	</div>
      </div>
	</div><!-- /headerwrap -->