<header class="main_h">

    <div class="row">
        <a class="logo" href="#" title="Victor Asante-Kyei | Home">vasnte </a>

        <div class="mobile-toggle">
            <span></span>
            <span></span>
            <span></span>
        </div>

        <nav>
            <ul>
                <li><a href="#about" title="A little about me">About Me</a></li>
                <li><a href="#skills" title="A handful of my skills">Skills</a></li>
                <li><a href="#experience" title="Some companies I have worked with">Experience</a></li>
                <li><a href="#testimonials" title="Happy Colleagues">Testimonials</a></li>
            </ul>
        </nav>

    </div> <!-- / row -->

</header>

<div class="hero">

    <h1><span class="whitefont cd-headline clip is-full-width">vasnte.com</span></span><br>
    Victor Asante-Kyei</h1> <div class="social-links">
      <a href="//twitter.com/Bruh_Kofi"  title="Find Victor on Twitter" target="_blanc"><i class="fa fa-twitter"></i></a>
      <a href="//plus.google.com/+victorasantekyei" title="Find Victor on Google+" target="_blanc"><i class="fa fa-google-plus"></i></a>
      <a href="//facebook.com/asantekyei" title="Find Victor on Facebook" target="_blanc"><i class="fa fa-facebook"></i></a>
      <a href="//linkedin.com/in/victor-asante-kyei" title="Find Victor on LinkdIn" target="_blanc"><i class="fa fa-linkedin"></i></a>
      <a href="//github.com/tynnee" title="Find Victor on Github" target="_blanc"><i class="fa fa-github"></i></a>
    </div>
    <!-- end-social-links -->
    <h2 class="whitefont cd-headline clip is-full-width">
            <span class="cd-words-wrapper">
                <b class="is-visible">Web Developer</b>
                <b>Tech Fanatic</b>
                <b>Global Citizen</b>
            </span>
        </h2>  

    <br>

    <div class="mouse">
        <span></span>
    </div>

</div>
