<header class="main_h">

    <div class="row">
        <a class="logo" href="#">vasnte</a>

        <div class="mobile-toggle">
            <span></span>
            <span></span>
            <span></span>
        </div>

        <nav>
            <ul>
                <li><a href="#about">About Me</a></li>
                <li><a href="#skills">Skills</a></li>
                <li><a href="#experience">Experience</a></li>
                <li><a href="#testimonials">Testimonials</a></li>
            </ul>
        </nav>

    </div> <!-- / row -->

</header>

<div class="hero">

    <h1><span class="whitefont cd-headline clip is-full-width">vasnte.com</span></span><br>
    Victor Asante-Kyei</h1> <div class="social-links">
      <a href="//twitter.com/merraysy" target="_blanc"><i class="fa fa-twitter"></i></a>
      <a href="//plus.google.com/+MohammedErraysyy" target="_blanc"><i class="fa fa-google-plus"></i></a>
      <a href="//facebook.com/merraysy" target="_blanc"><i class="fa fa-facebook"></i></a>
      <a href="//linkedin.com/in/merraysy" target="_blanc"><i class="fa fa-linkedin"></i></a>
      <a href="//github.com/merraysy" target="_blanc"><i class="fa fa-github"></i></a>
    </div>
    <!-- end-social-links -->
    <h2 class="whitefont cd-headline clip is-full-width">
            <span class="cd-words-wrapper">
                <b class="is-visible">Web Developer</b>
                <b>Tech Fanatic</b>
                <b>Global Citizen</b>
            </span>
        </h2>  

    <br>

    <div class="mouse">
        <span></span>
    </div>

</div>
