<!-- ==== SECTION DIVIDER1 -->
    <section class="section-divider textdivider divider1">
      <div class="container">
        <h1>Random Facts</h1>
        <hr>
        <p>I love Haribos! (Pico Balla)</p>
        <p> I love my Mac but I still bootcamp Windows 10</p>
        <p>I have watched every episode of Friends at least 10 times</p>
      </div><!-- container -->
    </section><!-- section -->
    