<section class="global-section section-offer" id="skills">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h1 class="text-center wow fadeInUp">
                            What I offer<span class="cursor-tag">_</span>
                        </h1>
                        <h4 class="lead text-center text-muted margin-btm-50 wow fadeInUp">
                            These are the skills I'm most proud of
                        </h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 wow fadeInUp">
                        <div class="offer margin-btm-30">
                            <span class="icons offer-icon">
                                <i class="fa fa-code"></i>
                            </span>
                            <h4>Front End Development</h4>
                            <p>
                                I believe in clean code and builing fast, intuitive, responsive, user-friendly web platforms with particular emphasis on HTML, CSS/SASS, Twitter Bootstrap and JS.
                            </p>
                        </div>
                    </div>
                    <div class="col-md-6 wow fadeInUp">
                        <div class="offer margin-btm-30">
                            <span class="icons offer-icon">
                                <i class="fa fa-terminal"></i>
                            </span>
                            <h4>Rails Development</h4>
                            <p>
                                I like building web apps with the Ruby on Rails framework. Taking complex everyday problems and turning them into simple apps
                            </p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 wow fadeInUp">
                        <div class="offer margin-btm-30">
                            <span class="icons offer-icon">
                                <i class="fa fa-sitemap"></i>
                            </span>
                            <h4>Digital Marketing</h4>
                            <p>
                                The success of any website relies heavily on being found. I believe in a well optimized website 
                                - SEO, running online marketing campaigns that work and taking advantage of social media.
                            </p>
                        </div>
                    </div>
                    <div class="col-md-6 wow fadeInUp">
                        <div class="offer">
                            <span class="icons offer-icon">
                                <i class="fa fa-tachometer"></i>
                            </span>
                            <h4>IT Projectmanagment/Consultancy</h4>
                            <p>
                                I love to consult on exciting projects, manage and work together in a team towards bringing the next tech to the market. 
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>