<section class="global-section section-offer" id="skills">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h1 class="text-center wow fadeInUp">
                            What I offer<span class="cursor-tag">_</span>
                        </h1>
                        <p class="lead text-center text-muted margin-btm-50 wow fadeInUp">
                            These are the skills I'm most proud of
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 wow fadeInUp">
                        <div class="offer margin-btm-30">
                            <span class="icons offer-icon">
                                <i class="fa fa-desktop"></i>
                            </span>
                            <h4>Interface Design</h4>
                            <p>
                                To provide a good interface, I must understand the users needs. That is why I investigate projects systematically with stakeholders and constantly iterate designs.
                            </p>
                        </div>
                    </div>
                    <div class="col-md-6 wow fadeInUp">
                        <div class="offer margin-btm-30">
                            <span class="icons offer-icon">
                                <i class="fa fa-code"></i>
                            </span>
                            <h4>Front End Development</h4>
                            <p>
                                I believe in well organized CSS files, semantic HTML, and pixel perfection. This can only be achieved by a front-end developer who understands design.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 wow fadeInUp">
                        <div class="offer margin-btm-30">
                            <span class="icons offer-icon">
                                <i class="fa fa-pencil"></i>
                            </span>
                            <h4>Visual Design</h4>
                            <p>
                                I rely heavily on graphic design to support how the user is going to interact with the product.  An aesthetically appealing site could make or break usability.
                            </p>
                        </div>
                    </div>
                    <div class="col-md-6 wow fadeInUp">
                        <div class="offer">
                            <span class="icons offer-icon">
                                <i class="fa fa-building"></i>
                            </span>
                            <h4>Corporate Identity</h4>
                            <p>
                                While designing, I always adhere to corporate and brand guidelines, but at the same time, evolving and pushing limits to stay on the cutting edge.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>