    <!-- ==== SECTION DIVIDER6 ==== -->
    <section class="section-divider textdivider divider6">
      <div class="container">
        <h5 class="whiteheading">CRAFTED IN DEUTCHLAND.</h5>
        <hr>
        <p>In the heart of BERLIN,</p>
        <p><a class="fa fa-envelope-o" href="mailto:victorasantekyei@outlook.de?subject=Mail from vasnte.com">victorasantekyei@outlook.de</a>  
</p>
        <div class="social-links">
      <h1><a href="//twitter.com/Bruh_Kofi"  title="Find Victor on Twitter" target="_blanc"><i class="fa fa-twitter"></i></a>
      <a href="//plus.google.com/+victorasantekyei" title="Find Victor on Google+" target="_blanc"><i class="fa fa-google-plus"></i></a>
      <a href="//facebook.com/asantekyei" title="Find Victor on Facebook" target="_blanc"><i class="fa fa-facebook"></i></a>
      <a href="//linkedin.com/in/victor-asante-kyei" title="Find Victor on LinkdIn" target="_blanc"><i class="fa fa-linkedin"></i></a>
      <a href="//github.com/tynnee" title="Find Victor on Github" target="_blanc"><i class="fa fa-github"></i></a></h1>
    </div>
      </div><!-- container -->
    </section><!-- section -->