    <!-- ==== SECTION DIVIDER6 ==== -->
    <section class="section-divider textdivider divider6">
      <div class="container">
        <h1>CRAFTED IN DEUTCHLAND.</h1>
        <hr>
        <p>In the heart of BERLIN,</p>
        <p>+34 9884 4893</p>
        <div class="social-links">
      <h1><a href="//twitter.com/Bruh_Kofi" target="_blanc"><i class="fa fa-twitter"></i></a>
      <a href="//plus.google.com/+MohammedErraysyy" target="_blanc"><i class="fa fa-google-plus"></i></a>
      <a href="//facebook.com/asantekyei" target="_blanc"><i class="fa fa-facebook"></i></a>
      <a href="//linkedin.com/in/victor-asante-kyei" target="_blanc"><i class="fa fa-linkedin"></i></a>
      <a href="//github.com/tynnee" target="_blanc"><i class="fa fa-github"></i></a></h1>
    </div>
      </div><!-- container -->
    </section><!-- section -->