  <!-- ==== SECTION DIVIDER2 -->
    <section class="section-divider textdivider divider2">
      <div class="container">
        <h3 class="whiteheading">DESIGN IS AN INTERACTION</h3>
        <hr>
        <p>To develop a deeper and more meaningful connection with consumers, we believe design must invite them to take part in the conversation.</p>
      </div><!-- container -->
    </section><!-- section -->